<?xml version="1.0"?>
<config>
  <modules>
    <MageShop_PagarMe>
      <version>1.0.1</version>
    </MageShop_PagarMe>
  </modules>
  <global>
    <models>
      <mageshop_pagarme>
        <class>MageShop_PagarMe_Model</class>
        <resourceModel>mageshop_pagarme_resource</resourceModel>
      </mageshop_pagarme>
      <mageshop_pagarme_resource>
        <class>MageShop_PagarMe_Model_Resource</class>
        <entities>
          <hub>
            <table>mageshop_pagarme_hub_install_token</table>
          </hub>
          <job>
            <table>mageshop_pagarme_jobs</table>
          </job>
          <charge>
            <table>mageshop_pagarme_charges</table>
          </charge>
          <transaction>
            <table>mageshop_pagarme_transactions</table>
          </transaction>
        </entities>
      </mageshop_pagarme_resource>
    </models>
    <resources>
      <mageshop_pagarme_setup>
        <setup>
          <module>MageShop_PagarMe</module>
        </setup>
        <connection>
          <use>directory_setup</use>
        </connection>
      </mageshop_pagarme_setup>
    </resources>
    <sales>
      <order>
        <states>
          <pending_payment translate="label">
            <visible_on_front>1</visible_on_front>
          </pending_payment>
        </states>
      </order>
      <quote>
        <totals>
          <pagar_me_discount>
            <class>MageShop_PagarMe_Model_Quote_Address_Discount</class>
            <after>shipping</after>
            <before>grand_total</before>
          </pagar_me_discount>
          <pagar_me_interest>
            <class>MageShop_PagarMe_Model_Quote_Address_Interest</class>
            <after>shipping</after>
            <before>grand_total</before>
          </pagar_me_interest>
        </totals>
      </quote>
    </sales>
    <helpers>
      <mageshop_pagarme>
        <class>MageShop_PagarMe_Helper</class>
      </mageshop_pagarme>
    </helpers>
    <blocks>
      <mageshop_pagarme>
        <class>MageShop_PagarMe_Block</class>
      </mageshop_pagarme>
      <sales>
        <rewrite>
          <order_totals>MageShop_PagarMe_Block_Sales_Order_Totals</order_totals>
        </rewrite>
      </sales>
      <adminhtml>
        <rewrite>
          <sales_order_totals>MageShop_PagarMe_Block_Adminhtml_Order_Totals</sales_order_totals>
        </rewrite>
      </adminhtml>
    </blocks>
    <fieldsets>
      <sales_convert_quote_address>
        <pagar_me_interest>
          <to_order>*</to_order>
        </pagar_me_interest>
        <pagar_me_base_interest>
          <to_order>*</to_order>
        </pagar_me_base_interest>
        <pagar_me_discount>
          <to_order>*</to_order>
        </pagar_me_discount>
        <pagar_me_base_discount>
          <to_order>*</to_order>
        </pagar_me_base_discount>
      </sales_convert_quote_address>
      <sales_convert_order>
        <pagar_me_interest>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </pagar_me_interest>
        <pagar_me_base_interest>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </pagar_me_base_interest>
        <pagar_me_discount>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </pagar_me_discount>
        <pagar_me_base_discount>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </pagar_me_base_discount>
      </sales_convert_order>
    </fieldsets>
  </global>
  <frontend>
    <routers>
      <mageshop_pagarme>
        <use>standard</use>
        <args>
          <module>MageShop_PagarMe</module>
          <frontName>pagarme</frontName>
        </args>
      </mageshop_pagarme>
    </routers>
    <layout>
      <updates>
        <mageshop_pagarme>
          <file>mageshop/pagarme.xml</file>
        </mageshop_pagarme>
      </updates>
    </layout>
    <translate>
      <modules>
        <mageshop_pagarme>
          <files>
            <default>MageShop/PagarMe.csv</default>
          </files>
        </mageshop_pagarme>
      </modules>
    </translate>
  </frontend>

  <adminhtml>
    <layout>
      <updates>
        <mageshop_pagarme>
          <file>mageshop/pagarme.xml</file>
        </mageshop_pagarme>
      </updates>
    </layout>
    <translate>
      <modules>
        <mageshop_pagarme>
          <files>
            <default>MageShop/PagarMe.csv</default>
          </files>
        </mageshop_pagarme>
      </modules>
    </translate>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <mageshop_pagarme before="Mage_Adminhtml">MageShop_PagarMe_Adminhtml</mageshop_pagarme>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>

  <default>
    <payment>
      <mageshop_pagarme>
        <type_api>HUBAPI</type_api>
      </mageshop_pagarme>
      <api>
        <api_url>https://api.pagar.me/</api_url>
        <version>v5</version>
        <core>core</core>
      </api>
      <hub>
        <public_app_key>a45600a2-53e3-4562-8176-c8136c4c0aa3</public_app_key>
        <environment>production</environment>
        <language>pt-BR</language>
        <api_url>https://hubapi.pagar.me/</api_url>
        <version>v1</version>
      </hub>
      <mageshop_pagarme_cc>
        <active>0</active>
        <model>mageshop_pagarme/method_cc</model>
        <title>Cartão de Credito</title>
        <payment_action>order</payment_action>
        <allowspecific>0</allowspecific>
        <currency>BRL</currency>
        <sort_order>0</sort_order>
        <environment>0</environment>
        <transaction_type>authorize_capture</transaction_type>
      </mageshop_pagarme_cc>
      <mageshop_pagarme_pix>
        <active>0</active>
        <model>mageshop_pagarme/method_pix</model>
        <title>Pix</title>
        <payment_action>order</payment_action>
        <allowspecific>0</allowspecific>
        <currency>BRL</currency>
        <sort_order>0</sort_order>
        <environment>0</environment>
        <expiration_qrcode>3600</expiration_qrcode>
      </mageshop_pagarme_pix>
      <mageshop_pagarme_bankslip>
        <active>0</active>
        <model>mageshop_pagarme/method_bankslip</model>
        <title>Boleto</title>
        <payment_action>order</payment_action>
        <allowspecific>0</allowspecific>
        <currency>BRL</currency>
        <sort_order>0</sort_order>
        <environment>0</environment>
        <expiration_days>2</expiration_days>
        <instructions><![CDATA[Por favor, pague o boleto até a data de vencimento.]]></instructions>
      </mageshop_pagarme_bankslip>
    </payment>
    <sales>
      <mageshop_pagarme>
        <plataform_integration>mageshop</plataform_integration>
      </mageshop_pagarme>
    </sales>
  </default>
  <crontab>
    <jobs>
      <mageshop_pagarme_jobs>
        <schedule>
          <cron_expr>* * * * *</cron_expr>
        </schedule>
        <run>
          <model>mageshop_pagarme/cron::jobs</model>
        </run>
      </mageshop_pagarme_jobs>
    </jobs>
  </crontab>

</config>